* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-100: #9ae600;
  --primary-200: #7ccf00;
  --text: #fff;
  --text-grey-100: #a1a1a1;
  --text-grey-200: #71717b;
  --text-placeholder: #474b4c;

  font-size: 62.5% !important;
}

body {
  font-family: "Space Grotesk", sans-serif !important;
  font-size: 1.6rem !important;
  color: var(--text);
}

.receita-background {
  height: 40vh;
  position: relative;
}

.receita-background::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.receita-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.receita-header {
  margin-top: 32px;
}

.receita-header .titulo {
  margin-top: 2.8rem;
  font-weight: 600;
}

.receita-header .descricao {
  font-size: 1.8rem;
  display: block;
  margin: 12px 0;
}

.receita-header-badges {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 12px 4px;
  align-items: center;
}

.receita-header-badges .badge-item {
  display: flex;
  gap: 8px;
  align-items: center;
  border: 1px solid var(--text-grey-100);
  border-radius: 8px;
  padding: 8px 12px;
}

.receita-header-badges .badge-titulo {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  color: var(--text-grey-200);
  font-size: 1.4rem;
}

.receita-header-badges .badge-valor {
  font-weight: 700;
}

.divisor {
  width: 100%;
  height: 1px;
  background-color: var(--text-grey-100);
  margin: 32px 0;
}

.menu-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: var(--primary-100);
  color: var(--text);
  border: none;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 999;
  transition: all 0.2s ease-in-out;
}

.menu-btn:hover {
  background-color: var(--primary-200);
  cursor: pointer;
}

.menu-btn > svg {
  color: white;
}

.modal-menu {
  width: 50%;
  max-width: 400px;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  padding: 24px;
}

.modal-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-menu-title {
  font-size: 2.4rem;
  font-weight: 600;
}

.modal-menu-close-span {
  font-size: 32px;
}

.modal-menu-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.modal-menu-link {
  display: inline-flex;
  justify-items: center;
  align-items: center;
  border-radius: 12px;
  padding: 12px 16px;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  background-color: var(--primary-200);
  color: white;
  transition: all 0.2s ease-in-out;
}

.modal-menu-link:hover {
  text-decoration: none;
  color: white;
  scale: 1.02;
}
